/* section about */

main .section.about {
  /* padding: 0; */
  padding-bottom: 40px;
  background-color: #ff5629;
  padding: 60px 25px;
  position: relative;
}

@media (width <= 900px) {
  main .section.about {
    padding: 30px 25px;
  }
}

main .section.about .content-wrapper {
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

main .section.about .columns-img-col {
  max-width: 399.46px;
  position: relative;
}

main .section.about .columns-2-cols div {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
   */
}

main .section.about .columns-2-cols div div:last-child {
  padding-left: 8.5%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
@media (width <= 900px) {

  main .section.about .columns-2-cols div div:last-child {
    padding-left: 0;
  }
  
  main .section.about .columns-2-cols div div:last-child p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.6;
  }
  
  main .section.about .columns-2-cols div div:last-child p:last-child {
    margin-bottom: 0px;
  }
  
  main .section.about .columns-2-cols div div:last-child h6 {
    font-size: 19px;
  }
  
  main .section.about .columns-2-cols div div:last-child h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }
    
  main .section.about .columns-2-cols div {
    align-items: center;
  }
  
  main .section.about .columns-2-cols .columns-img-col img {
    height: 291px;
  }
  
}
