/* header */

header {
  position: fixed;
  height: var(--nav-height);
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 1000;
  background-color: #ff5629;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

/* update size on mobile */
@media (width <= 900px) {
  header {
    height: 75px;
  }

  header .nav-wrapper {
    /* max-width: 650px; */

    /* padding-left: 25px !important; */

    /* padding-right: 25px !important; */

    /* margin-top: 75px; */
  }
}

header .nav-wrapper {
  /* padding-right: 28px; */

  /* padding-left: 25px; */
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}


header.header-wrapper {
  /* padding-right: 25px; */

  /* padding-left: 25px; */
  max-width: 100%;
}

header.header-wrapper .header.block {
  height: 100%;
  width: 100%;

  /* padding-right: 25px; */

  /* padding-left: 25px; */
}

header .default-content-wrapper {
  width: 171px;
  display: contents;

}

header nav .nav-brand img {
  width: 100%;
}

header nav .nav-sections {
  display: contents;
  padding: 0;
  font-weight: 700;
  color: #e6ff00;
  font-size: 16px;

  /* line-height: 110px; */
  text-transform: uppercase;
  text-decoration: none;
}

header nav {
  display: flex !important;

  /* flex-direction: row-reverse !important; */
  justify-content: space-between;
  width: 100% !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

@media (width <= 900px) {
  header nav {
    flex-direction: row-reverse !important;
    height: 75px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    width: 100% !important;
    margin-right: 25px !important;
  }

  header nav .nav-brand img {
    width: 85.5px;
  }
}

header nav .nav-hamburger {
  grid-area: hamburger;
  width: fit-content;
  width: 25px !important;
  max-width: 25px !important;
  min-width: 25px !important;
  height: 20px;
  z-index: 250;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  width: 25px !important;
  min-width: 25px !important;
}

header nav .nav-hamburger-icon {
  color: #e6ff00 !important;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  background-color: #e6ff00 !important;
  width: 25px;
  height: 20px;
}

header nav .nav-sections a {
  display: block;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 110px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease;
  color: #ea2d52;
  background-color: transparent;
}

header nav .nav-sections a:hover {
  color: #001f3d;
}

header nav ul:first-child {
  align-items: end;  
}

/* hide last list in sections to show on mobile only */
header nav ul:last-child {
  display: none !important;
}

@media (width <= 900px) {
  header nav ul:last-child {
    display: block !important;
  }
}

header nav[aria-expanded='true'] .section.menu {
  /* max-height: fit-content; */

  /* height: calc(100vh - 68px); */

  /* display: none; */
  text-align: center;
  padding: 20px 25px 140px;
}

header nav[aria-expanded='true'] .section.menu a {
  line-height: 1.1;
  height: 30px;
  font-size: 18px;
}


header nav[aria-expanded='true'] .section.menu ul li {
  line-height: 1.1;
  height: 30px;
  font-size: 18px;
}

header nav[aria-expanded='true'] {
  display: grid !important;
  grid-template:
    "brand . hamburger"
    "sections sections sections" !important;
  grid-template-rows: 75px 1fr !important;
  margin-right: 25px !important;
  overflow-y: auto;

  /* flex-direction: column !important; */
  min-height: 100vh;
}


header nav[aria-expanded='true'] .section.menu ul:last-child {
  /* display: flex !important; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

header nav[aria-expanded='true'] .section.menu ul:last-child li {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

header nav[aria-expanded='true'] .section.menu ul:first-child li {
  margin-bottom: 15px;
}

header nav[aria-expanded='true'] .section.menu ul:last-child li p {
  width: 50px;
}

header nav[aria-expanded='true'] .section.menu ul:last-child li p a{
  width: 50px;
}

header nav[aria-expanded='true'] .section.menu ul:last-child .button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 50px;
}

header nav[aria-expanded='true'] .section.menu ul:last-child .button-container a.button  {
  line-height: 1;
  padding: 5px;
  vertical-align: middle;
  width: 50px !important;
  max-width: 50px;
  font-size: 18px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 900px) {
  header nav[aria-expanded='true'] .section.menu ul:last-child {
    display: flex !important;
  }
}

@media (width >= 900px) {
  header nav[aria-expanded='true'] {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    vertical-align: middle !important;
  }

  header nav[aria-expanded='true'] .section.menu {
    padding: 0;
    height: 110px !important;
    max-height: fit-content;
    align-items: center !important;
    vertical-align: middle !important;
  }

  header nav .nav-sections ul {
    height: 110px;
    align-items: center;
    vertical-align: middle;
    justify-content: start;
  }

  header nav .nav-sections ul li {
    padding: 0;
    margin: 0;
  }

  header nav[aria-expanded='true'] .section.menu ul:first-child  {
    padding: 0 !important;
    margin: 0 !important;  
  }

  header nav[aria-expanded='true'] .section.menu ul:first-child li {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;

    /* display: flex; */
    place-content: center center;
    align-items: center;
    vertical-align: middle;
  }

  header nav[aria-expanded='true'] .section.menu ul:first-child li a {
    padding: 0 !important;
    margin: 0 !important;  

    /* height: 100%; */
    vertical-align: middle;
    line-height: 1;
    font-weight: 700;
    color: #E6FF00;
    height: 25px;
    max-height: 25px;
    min-height: 25px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
  }

}