/* faq */

main .section.faq {
  background-color: #ff5629;
  padding: 60px 25px;
  position: relative;
}

main .section.faq .default-content-wrapper {
  margin-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

main .section.faq .accordion-wrapper {
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}


main .section.faq h3 em {
  color: #fff;
}




@media (width <= 900px) {
  main .section.faq {
    padding: 30px 25px;
  }

  main .section.faq .default-content-wrapper,
  main .section.faq .accordion-wrapper {
    padding: 0;
  }
}


main .section.faq .accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  right: 0;
  z-index: 100;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  font-weight: 700;
  pointer-events: none;
  width: 48px;
  height: 27px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQwLjE4NCAyLjA5MkwyMS4wOTIgMjEuMTg0IDIgMi4wOTIiIHN0cm9rZT0iI0U2RkYwMCIgc3Ryb2tlLXdpZHRoPSI0IiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .3s ease;
}

main .section.faq .accordion details[open] summary::after {
  transform: translateY(-50%) rotate(90deg);
}

main .section.faq .accordion details summary {
  padding: 18px 60px 18px 0;
  font-size: 26px;
  overflow: hidden;

}


main .section.faq .accordion .accordion-item {
  border: 0;
  border-bottom: 1px solid #fff;
}

main .section.faq .accordion .accordion-item .accordion-item-label p {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

main .section.faq .accordion details[open] summary {
  background-color: transparent;
}

main .section.faq .accordion details summary:focus,
main .section.faq .accordion details summary:hover {
  background-color: transparent;
}

main .section.faq .accordion details[open] .accordion-item-body {
  padding: 0 50px 15px 0;
  background-color: transparent;
  border-top: 0;
  max-width: 750px;
}

