/* section footer */
footer {
  background-color: #e6ff00;
  color: #001f3d;
  padding: 60px 0;
  position: relative;
  z-index: 10;
}

footer .footer.block .section.toprow .default-content-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer.block .section.toprow .default-content-wrapper li {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 0;
}

footer .footer.block .section.toprow .default-content-wrapper a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #001f3d;
  transition: all 0.5s ease;
}

footer .footer.block .section.toprow .default-content-wrapper a:hover {
  color: #ff5629;
}

footer .footer.block .section.toprow {
  border-bottom: 1px solid #ff5629;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

footer .footer.block .section.toprow .default-content-wrapper img {
  width: 148.5px;
  height: auto;
}

footer .footer.block .section.toprow .default-content-wrapper {
  margin-right: 0;
  margin-left: 0;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

footer .footer.block .section.bottomrow,
footer .footer.block .section.bottomrow .columns-wrapper {
  margin: 0;
  margin-right: 0;
  margin-left: 0;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

footer .footer.block .section.bottomrow p {
  background-color: #E6FF00;
  color: #001F3D;
  position: relative;
  font-size: 12px;
}
footer .footer.block .section.bottomrow .columns-2-cols {
  width: 100%;
}

footer .footer.block .section.bottomrow .columns-2-cols > div > div:last-child {
  background-color: #E6FF00;
  color: #001F3D;
  position: relative;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
  align-items: end;
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

footer .footer.block .section.bottomrow .columns-2-cols > div > div:last-child p {
  width: 56px;
  height: 56px;
}

footer .footer.block .section.bottomrow .columns-2-cols div:last-child a.button:any-link {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: #E6FF00;
  background-color: #001F3D;
  font-size: 36px;
  width: 56px !important;
  height: 56px  !important;
  padding: 0px;
  min-width: 56px;
  min-height: 56px;
  margin-left: 0;
  border-radius: 100px;
  line-height: 56px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer.block .section.bottomrow .columns-2-cols div:last-child .icon {
  height: 40px;
  width: 40px;
}
footer .footer.block .section.bottomrow .columns-2-cols div:last-child a.button:any-link img {
  height: 40px;
  width: 40px;
}

footer .footer.block .section.bottomrow .columns-2-cols div:last-child a.button:any-link:hover {
  background-color: #FF5629;
  color: #fff;
}
