
/* section gear */
main .section.gear {
    background-color: #FF5629;
    padding: 0;
    text-align: center;
    position: relative;
    padding: 60px 0;
  }
  
  main .section.gear::before {
    background-color: #E6FF00;
    content: '';
    position: absolute;
    bottom: 9%;
    left: 0;
    right: 34%;
    z-index: 1;
    width: 100%;
    height: 9%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAyIiBoZWlnaHQ9IjY1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xNjE4XzMwKSI+PHBhdGggZD0iTTk2Ljg0NC0uMDA0bDE1My43MjQuMDQ2TDcwMC4wNTUgMCAuMTE5IDY0LjI3IDk2Ljg0NC0uMDA0eiIgZmlsbD0iI0ZGNTYyOSIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImNsaXAwXzE2MThfMzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoNzAydjY1SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60px;
    margin: 0 auto;
  }

  main .section.gear:after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 17%;
    background-color: #E6FF00;
}

  
  main .section.gear h2 {
    color: #FF5629;
    max-width: 100%;
    color: #E6FF00;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 42px;
  }
  
  
  main .section.gear .cards-wrapper .cards {
    position: relative;
    z-index: 2;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  main .section.gear .cards-wrapper ul {
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    column-gap: 70px;
  }
  
  @media (width <= 900px) {
    main .section.gear .cards-wrapper ul {
      grid-gap: 0;
      flex-wrap: wrap;
    }
  }
  
  
  main .section.gear .cards-wrapper li {
    width: 318px;
    box-shadow: 0 0 120px 0 rgb(0 0 0 / 10%);
    border-radius: 24px;
    padding: 25px 36px;
    background-color: #001F3D;
  }
  
  @media (width <= 900px) {
    main .section.gear .cards-wrapper li {
        margin-bottom: 40px;
        padding: 20px 25px;
    }
  }
  
  main .section.gear .cards-wrapper p {
    font-size: 16px;
  }

  main .section.gear .cards-wrapper .cards-card-image {
    height: 200px;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  main .section.gear .cards-wrapper img {
    max-width: 246px;
    width: 100%;
    object-fit: contain;
  }

  main .section.gear .cards-wrapper .cards-card-body {
    padding: 0;
    margin: 0;
  }
  