
/* section common */

/* remove all section image effects */
@media (width <= 900px) {
  main *::after {
    content: "" !important;
    display: block !important;
    clear: both !important;
    background-image: none !important;
    height: 0;
  }  

  main *::before {
    content: "" !important;
    display: block !important;
    clear: both !important;
    background-image: none !important;
    background-color: unset !important;
    height: 0;
  }
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  line-height: 1.6;
  font-size: 18px;
}