:root {
  /* colors */
  --link-color: #EA2D52; /* $color-primary */
  --link-hover-color: #FF5629;
  --background-color: #FF5629;
  --light-color: #B5D3E4;
  --dark-color: #003953;
  --text-color: #003953;
  --button-color: #E6FF00;

  /* fonts */
  --body-font-family: 'Archivo', sans-serif;
  --heading-font-family: 'Archivo', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 70px;
  --heading-font-size-xl: 42px;
  --heading-font-size-l: 38px;
  --heading-font-size-m: 30px;
  --heading-font-size-s: 22px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 110px;
}

@font-face {
  font-family: Roboto-Fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@font-face {
  font-family: Macho;
  font-weight: 700;
  src: url('../fonts/MachoBold.woff2') format('woff2'), url('../fonts/MachoBold.woff') format('woff');
}

@font-face {
  font-family: Macho;
  font-weight: 500;
  src: url('../fonts/MachoSemiBold.woff2') format('woff2'), url('../fonts/MachoSemiBold.woff') format('woff');
}

@font-face {
  font-family: Macho;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/MachoBoldItalic.woff2') format('woff2'), url('../fonts/MachoBoldItalic.woff') format('woff');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 70px;
    --heading-font-size-xl: calc(32px + 48*((100vw - 1009px) / 431));
    --heading-font-size-l: 42px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 22px;
    --heading-font-size-xs: 18px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  padding-top: var(--nav-height);
}
@media (width <= 900px) {
  body {
    padding-top: 75px;
  }
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #E6FF00;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 16px;
  scroll-margin: calc(var(--nav-height) + 1em);
  text-transform: uppercase;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  color: var(--link-color);
}


h1 { 
  font-size: var(--heading-font-size-xxl); 
}

h2 { 
  font-size: var(--heading-font-size-xxl); 
  margin-bottom: 20px;
  font-weight: 700;
  max-width: 370px;
  text-transform: uppercase;
  color: #E6FF00;
  line-height: 0.9;
}
h3 { font-size: var(--heading-font-size-l); }

h4 {
  color: #fff;
  text-transform: none;
  line-height: 1.2;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
h5 { font-size: var(--heading-font-size-s); }

/* subtitle */
h6 { 
  margin-bottom: 5px;
  line-height: 1;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-transform: none;
}

@media (width <= 900px) {
  h6 { 
    font-size: 19px;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 20px;
  }
}


p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 16px;
  line-height: 1.6;
  font-size: 18px;
  color: #fff;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: #F3F2F1; /* $color-grey-lighter */
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  background-color: rgb(0 31 61);
  color: #fff !important;
  border: 0;
  font-size: 18px;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 200px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  transition: all 350ms ease;
  text-align: center;
  cursor: pointer;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--button-color);
  color: #001F3D !important;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: #001F3D;
  color: var(--text-color);
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--button-color);
  color: #001F3D !important;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 25px;
}

@media (width >= 900px) {
  main .section {
    padding: 64px 25px;
  }
}

@media (width <= 900px) {
  main .section .columns-wrapper {
    max-width: 650px;
    padding: 0px;
    margin: 0px;
  }
}

@media (width >= 900px) {
  main .section .columns-wrapper {
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
  }
}

@media (width >= 900px) {
  .section > div {
    /* max-width: 1200px; */
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}
